@font-face {
    font-family: "Rubic";
    src: url("fonts/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
}
body {
    background: #30302E;
    margin: 0;
    padding: 0;
    font-family: Rubic;
    display: block;
    width: 100%;
    height: 100%;
    color:#FFF;  
}
a {
    text-decoration: none;
    color: #FFF;
}
.container {
    margin: 20px 50px;
}
.menu {
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.logo_name {
    margin-left: 30px;
    margin-top: -10px;
    font-size: 22px;
    letter-spacing: 2px;
}
.img_logo {
    margin-left: 30px;
    width: 80px;
}
.menu_name {
    padding-left: 20px;
    padding-right: 100px;
    font-size: 30px;
    font-weight: bold;
    color: #afafaf;
    -webkit-text-stroke: .02em #000000;
    line-height: 23px;
}
.menu_name::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    -webkit-text-stroke: .04em #afafaf;
}
.menu_nav {
    display: flex;
    align-items:flex-start;
}
.menu_nav__item, .blur_item {
    padding: 0 25px;
    list-style-type: none;
    color: #AFAFAF;
}
.last {
    padding-left: 230px;
}
.active {
    color: #FFF;
}
.main_img {
    width: 100%;
    border-radius: 40px;
    position: relative;
}
.main_img_grad {
    position: absolute;
    width: 94%;
    margin-top: 2px;
    top: 140px;
    left: 50px;
    z-index: 1;
}
.main_header {
    position: absolute;
    top: 220px;
    left: 160px;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
}
.blur {
    display: flex;
    justify-content: center;
}
.bg_blur {
    background: inherit;
    width: 1000px;
    height: 110px;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    overflow: hidden;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
}
.bg_blur::before {
    content: '';
    width: 1050px;
    height: 150px;
    background: inherit;
    position: absolute;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(56, 56, 56, 0.521);
    filter: blur(10px);
}
.blur_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 230px;
    z-index: 1;
}
.blur_item {
    justify-content:center;
    align-items:center;
    padding: 20px 75px 10px ;
    margin-top: 20px;   
}
.full {
    margin-bottom: -50px;
    margin-right: 12px;
    color:#afafaf;
    border-right: 2px solid #C4C4C4;
}
.not_blur_item {
    position: absolute;
    line-height: 28px;
    background: #30302E;
    border-radius: 0 10px 10px 0;
    height: 80px;
    bottom: 30px;
    right: 256px;
    z-index: 2;
}
.bloks {
    display: flex;
    margin-top: 150px;
}
.block_main {
    width: 385px;
    line-height: 25px;
    margin-right: 20px;
    color: #afafaf;
}
h3 {
    font-size: 36px;
    color: #ffffff;
}
.block {
    width: 230px;
    height: 230px;
    margin: auto 20px;
    box-shadow: 0 24px 50px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.block_img {
    padding: 20px 0 18px 20px;
}
.block_header {
    padding-left: 20px;
    font-size: 28px;
    font-weight: 700;
}
.block_text {
    padding-left: 20px;
    padding-top: 15px;
    color: #AFAFAF;
    font-size: 22px;
    letter-spacing: 0.31px;
}
.bank_item {
    text-align: center;
    margin: 120px 32px 70px;
}
.it-center {
    width: 120px;
    height: 60px;
}
.services {
    width: 240vh;
}
.services_main, .service_full, .services_wrap, .exp_main {
    display: flex;
    align-items: center;
}
.box {
    margin-right: 30px;
    width: 20px;
    height: 86px;
    border-radius: 4px;
    background-color:#FFF;
}
.service_img {
    position: relative;
    margin-right: 24px;
    margin-bottom: 50px;
}
.service_img_grad {
    position: absolute;
    left: 50px;
}
.service_img_grad2 {
    position: absolute;
    left: 468px;
    z-index: 1;
}
.serv_header, .serv_header2 {
    position: absolute;
    width: 250px;
    font-size: 34px;
    line-height: 35px;
    z-index: 2;
    margin-top: 300px;
}
.serv_header {
    left: 70px;
}
.serv_header2 {
    left: 490px;
}
.service_full span {
    padding-left: 20px;
    font-size: 24px;
    line-height: 28px;
}
.realtor {
    margin-top: 50px;
    margin-left: 50px;
}
.realtor_box {
    display: flex;
}
.realter_img {
    margin: 0 22px 45px 0;
}
.realter_name {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}
.realter_name div {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.realtor_text {
    font-size: 24px;
    width: 480px;
    margin: 0 0 50px 0;
    line-height: 36px;
    display: flex;
    align-items: center 
}
.btn {
    width: 300px;
    height: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    background-color:#30302E;
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
}
.services_wrap {
    margin-top: 100px;
}
.strategy_main {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 50px;
}
.strategy_img {
    margin-right: 24px;
    margin-bottom: 50px;
    width: 40%;
}
.img_down {
    transform: translateY(140px);
}
.strategy_items {
    font-size: 24px;
    display: inline-flex;
}
ul {
    list-style: none;
}
.str_img {
    padding: 36px 20px 0 10px;
    margin-right: 40px;
    float:left;
}
.str_text {
    padding-top: 30px;
    width: 420px;
    float: right;
}
.sell-wrap, .exp_wrap, .spec_wrap, .reviews_wrap, .contacts_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.sell_img, .sell_end_img {
    width: 90%;
    position: relative;
}
.sell_end_img {
   width: 384px;
}
.sell_header {
    position: absolute;
    left: 140px;
    font-size: 68px;
    font-weight: 700;
    margin-top: -350px;
}
.sell_text {
    position: absolute;
    left: 140px;
    margin-top: -170px;
    line-height: 34px;
}
.sell_middle {
    position: absolute;
    left: 824px;
    margin-top: 140px;
    text-align: center;
}
.sell_middle_img {
    padding: 10px;
}
.sell_middle p {
    font-size: 26px;
}
.sell_middle .btn {
    margin: 8px;
}
.exp {
    width: 53%;
}
.exp_text {
    font-size: 24px;
    line-height: 35px;
    margin-right: 80px;
}
.spec_main {
    margin-right: 80px;
}
.spec_text1 {
    color: #afafaf;
    width: 376px;
    line-height: 28px;
}
.spec_text {
    line-height: 28px;
}
.spec_realtor {
    width: 480px;
}
.realter_img {
    margin-top: 15px;
}
.stars {
    margin: 25px;
    width: 136px;
    height: 24px;
}

.main_review {
    display: flex;
    width: 76%;
    margin-top: 20px;
}
.reviews_type {
    margin-left: 60px; 
}
.realter_type {
    font-weight: bold;
    font-size: 24px;
}
.realtor_review div, .rev_stars{
    padding-top: 10px;
}
.rewiew_box {
    display: flex;
}
.img_review {
    width: 22%;
}
.realtor_review {
    margin-left: 52px;  
}
.review_text_box {
    display: flex;  
    justify-content: space-between;
}
.review_text {
    width: 48%;
    line-height: 26px;
    padding-right: 26px; 
}
.insta {
    text-align: center;
    align-self:center;
}
.insta_qr, .insta_img {
    padding: 5px 0;
}
.review_text1 {
    width: 98%;
    line-height: 26px; 
}
.team_middle {
    position: absolute;
    left: 422px;
    margin-top: 140px;
    text-align: center;
}
.team_middle p {
    font-size: 26px;
}
.team2 {
    position: relative;
    margin-left: 45px;
}
.team_end_img {
    width: 90%;
}
.team3 {
    position: absolute;
    right: 0;
}
.shadow{
    box-shadow: 0 24px 50px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.contacts_form {
    margin: 115px 50px 50px 100px;
    width: 75vh;
}
.form_title {
    font-size: 72px;
    font-weight: bold;
}
.form_text {
    margin: 40px auto;
    font-size: 24px;
    line-height: 36px;
}
.submit-btn {
    background-color: #525252;
	color: #FFF;		
	border:0;
	border-radius: 15px;
	display: block;
	margin: 28px auto; 
	padding: 15px 45px;
	font-size: 24px;
	cursor: pointer;
	width: 100%;
    height: 80px;
}
.submit-btn:hover {
    transition: all .5s ease;
	background-color: rgba(22, 22, 22, 0.8);
}
.input {
    border: 0;
    outline: none;
    font-size: 18px;
    display: block;
    width: 81%;
    padding: 10px 15px;
    border-bottom: 1px solid #adacac;
    height: 90px; 
}
.input_icon {
    position: relative;
}
.input_icon::before {
    content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px; 
      margin: auto 0;
      width: 25px;
      height: 25px;
      background-size: cover;
}
.input_name {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.input_tel {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.input_icon .input  {
    padding-left: 85px;
}
.input_icon_name::before {
    background-image: url('icons/name.png');
}
.input_icon_tel::before {
    background-image: url('icons/tel.png'); 
}
.contact_logo {
    text-align: center;
}
.cont_img_logo {
    width: 232px;
    height: 123px;
}
.cont_logo_name {
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: -20px;

}
.tel_number {
    font-size: 45px;
    line-height: 50px;
}
.adresss, .mail  {
    font-size: 30px;
    line-height: 36px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;

}
.social_icon {
    margin-right: 40px;
}

